In [2]:
#Loading Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from os import listdir
from os.path import isfile, join

In [3]:
#Setting the CSV variables
population_census = "Resources/population_by_zip_2010.csv"
restaurant_data = "Resources/FastFoodRestaurants.csv"

In [15]:
#Loading CSV into DataFrames
populationDF = pd.read_csv(population_census, encoding="utf-8")
restaurantDF = pd.read_csv(restaurant_data, encoding="utf-8")

#Changing DataType to match, INT --> STRING over OBJECT | OBJECT DOES NOT WORK USE STRING 
#NOTE; restaurant DF can not be changed to INT due to some zipcodes having a '-'. 
#NOTE; Because of this '-' we must change the datatype to an OBJECT instead, treat as a text
populationDF['zipcode'] = populationDF['zipcode'].astype(str)

In [22]:
#Cleaning DFs, taking only the columns we need
cleaned_population = populationDF[['zipcode','population']].copy()
cleaned_restaurant = restaurantDF[['city','name','postalCode','province']].copy()

#Renaming columns
cleaned_restaurant.rename(columns={'postalCode':'zipcode'}, inplace=True)

#Setting zipcode as index
#NOTE, setting the index for zip code might NOT be necessary; experiementing
#NOTE, renaming the zipcode column in both DFs to a singular name may be beneficial; experimenting
#FINAL NOTE: SETTING INDEX NOTE NECESSARY; we went with a loc function alternatively to take rows with NAN values in to get final population
merged_df = cleaned_restaurant.merge(populationDF, how='outer', on='zipcode')

#Here we are locating the rows where there is NAN values, due to the census having more information then necessary.
#We want the final TOTAL population; not the population divided by age\gender
cleaned_merged = merged_df.loc[merged_df[['minimum_age', 'maximum_age', 'gender']].isnull().all(axis=1),:]
cleaned_merged

#Here we are doing our final clean of our merged file. Dropping unneccessary columns. 
cleaned_merged_final = cleaned_merged[['city','name','zipcode','province','population']].copy()
cleaned_merged_final

#Dropping rows where there are no restaurants within a zipcode. 
cleaned_merged_noNAN = cleaned_merged_final.dropna(how='any')
cleaned_merged_noNAN

,city,name,zipcode,province,population
0,Massena,McDonald's,13662,NY,16582.0
32,Massena,McDonald's,13662,NY,16582.0
64,Massena,Taco Bell,13662,NY,16582.0
96,Washington Court House,Wendy's,43160,OH,22305.0
128,Washington Court House,McDonald's,43160,OH,22305.0
160,Washington Court House,Arby's,43160,OH,22305.0
192,Washington Court House,McDonald's,43160,OH,22305.0
224,Washington Court House,Rancher's Roast Beef Inc.,43160,OH,22305.0
256,Washington Court House,Taco Bell,43160,OH,22305.0
288,Maysville,Frisch's Big Boy,41056,KY,14228.0
320,Maysville,McDonald's,41056,KY,14228.0
352,Maysville,Wendy's,41056,KY,14228.0
384,Maysville,SONIC Drive In,41056,KY,14228.0
416,Maysville,Taco Bell,41056,KY,14228.0
448,Maysville,Hardee's,41056,KY,14228.0
480,Athens,OMG! Rotisserie,45701,OH,34122.0
512,Athens,Wendy's,45701,OH,34122.0
544,Athens,Wendy's,45701,OH,34122.0
576,Athens,Jimmy John's Gourmet Sandwiches,45701,OH,34122.0
608,Athens,Burger King,45701,OH,34122.0
640,Hamilton,Domino's Pizza,45011,OH,69677.0
672,Hamilton,Taco Bell,45011,OH,69677.0
704,Hamilton,White Castle,45011,OH,69677.0
736,Hamilton,McDonald's,45011,OH,69677.0
768,Hamilton,Wendy's,45011,OH,69677.0
800,Hamilton,Wendy's,45011,OH,69677.0
832,Hamilton,Chick-fil-A,45011,OH,69677.0
864,Hamilton,McDonald's,45011,OH,69677.0
896,Hamilton,Jolly's Drive-In,45011,OH,69677.0
928,Hamilton,Arby's,45011,OH,69677.0
...,...,...,...,...,...
313728,Eufaula,Burger King,36027,AL,16261.0
313760,San Diego,McDonald's,92126,CA,73343.0
313792,Denver,SONIC Drive In,80231,CO,32127.0
313824,Jamison,McDonalds,18929,PA,9306.0
313855,Warren,McDonald's,48093,MI,23037.0
313887,Strongsville,Mcdonald's,44136,OH,25608.0
313919,Dublin,Burger King,31021,GA,28549.0
313952,Wingate,Mcdonald's,28174,NC,8608.0
313984,Pineville,Taco Bell,28134,NC,9453.0
314016,Durham,Wendy's,27713,NC,46660.0
314048,Dravosburg,Subway,15034,PA,1792.0
314080,Apopka,Checkers,32703,FL,46207.0
314112,Commerce,McDonald's,30529,GA,10920.0
314145,San Pedro,McDonald's,90732,CA,21115.0
314177,New Philadelphia,Hardee's / Red Burrito,44663,OH,25362.0
314209,Fulton,Pizza Hut,42041,KY,4627.0
314242,Sterling,KFC,80751,CO,18857.0
314273,Spokane,Carl's Jr. / Green Burrito,99218,WA,15531.0
314305,Annapolis,Wendy's,21409,MD,20064.0
314337,Paris,Burger King,61944,IL,12908.0
314369,Hampton,McDonald's,23661,VA,14113.0
314401,Plano,SONIC Drive In,75093,TX,47187.0
314434,Oklahoma City,KFC,73130,OK,19439.0
314466,Chatham,Mcdonald's,24531,VA,9203.0
314497,Hilton Head Island,McDonald's,29928,SC,16110.0
314529,Miles City,McDonald's,59301,MT,11404.0
314561,East Chicago,White Castle,46312,IN,29698.0
314593,Augusta,Wendy's,30906,GA,57748.0
314625,Cary,Lee's Oriental Martial Arts,60013,IL,26872.0
314657,Anaheim,Carl's Jr.,92807,CA,36171.0

  zipcode  population
0   99776         124
1   38305       49808
2   37086       31513
3   41667         720
4   67001        1676

                     city              name zipcode province
0                 Massena        McDonald's   13662       NY
1  Washington Court House           Wendy's   43160       OH
2               Maysville  Frisch's Big Boy   41056       KY
3                 Massena        McDonald's   13662       NY
4                  Athens   OMG! Rotisserie   45701       OH