In [1]:
#Loading Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from os import listdir
from os.path import isfile, join

In [2]:
#Setting the CSV variables
population_census = "Resources/population_by_zip_2010.csv"
restaurant_data = "Resources/FastFoodRestaurants.csv"

In [11]:
#Loading CSV into DataFrames
populationDF = pd.read_csv(population_census, encoding="utf-8")
restaurantDF = pd.read_csv(restaurant_data, encoding="utf-8")

In [37]:
#Cleaning DFs, taking only the columns we need
cleaned_population = populationDF[['zipcode','population']].copy()
cleaned_restaurant = restaurantDF[['city','name','postalCode','province']].copy()

#Setting zipcode as index
#NOTE, setting the index for zip code might NOT be necessary; experiementing
#NOTE, renaming the zipcode column in both DFs to a singular name may be beneficial; experimenting
cleaned_population.set_index('zipcode', inplace=True)
cleaned_restaurant.set_index('postalCode', inplace=True)

#NEXTLINE; finding a way to merge DFs using zip code as a base and inserting population into the new DF

       population city name province
602         41520  NaN  NaN      NaN
602         20396  NaN  NaN      NaN
602         21124  NaN  NaN      NaN
602          1173  NaN  NaN      NaN
602          1118  NaN  NaN      NaN
602          1271  NaN  NaN      NaN
602          1217  NaN  NaN      NaN
602          1524  NaN  NaN      NaN
602          1504  NaN  NaN      NaN
602          1026  NaN  NaN      NaN
602           991  NaN  NaN      NaN
602           621  NaN  NaN      NaN
602           626  NaN  NaN      NaN
602           340  NaN  NaN      NaN
602           304  NaN  NaN      NaN
602           311  NaN  NaN      NaN
602           329  NaN  NaN      NaN
602           863  NaN  NaN      NaN
602           860  NaN  NaN      NaN
602          1299  NaN  NaN      NaN
602          1336  NaN  NaN      NaN
602          1380  NaN  NaN      NaN
602          1413  NaN  NaN      NaN
602          1286  NaN  NaN      NaN
602          1271  NaN  NaN      NaN
602          1413  NaN  NaN      NaN
602          1552  NaN  NaN      NaN
602          1497  NaN  NaN      NaN
602          1623  NaN  NaN      NaN
602          1447  NaN  NaN      NaN
...           ...  ...  ...      ...
99929        1113  NaN  NaN      NaN
99929          60  NaN  NaN      NaN
99929          69  NaN  NaN      NaN
99929          64  NaN  NaN      NaN
99929          69  NaN  NaN      NaN
99929          83  NaN  NaN      NaN
99929          71  NaN  NaN      NaN
99929          57  NaN  NaN      NaN
99929          43  NaN  NaN      NaN
99929          23  NaN  NaN      NaN
99929          29  NaN  NaN      NaN
99929           9  NaN  NaN      NaN
99929          14  NaN  NaN      NaN
99929           5  NaN  NaN      NaN
99929          14  NaN  NaN      NaN
99929          42  NaN  NaN      NaN
99929          32  NaN  NaN      NaN
99929          60  NaN  NaN      NaN
99929          55  NaN  NaN      NaN
99929          42  NaN  NaN      NaN
99929          44  NaN  NaN      NaN
99929          59  NaN  NaN      NaN
99929          54  NaN  NaN      NaN
99929          55  NaN  NaN      NaN
99929          70  NaN  NaN      NaN
99929         101  NaN  NaN      NaN
99929          84  NaN  NaN      NaN
99929         129  NaN  NaN      NaN
99929         111  NaN  NaN      NaN
99929         119  NaN  NaN      NaN

[1048575 rows x 4 columns]

In [13]:
cleaned_population.head()

   zipcode  population
0    99776         124
1    38305       49808
2    37086       31513
3    41667         720
4    67001        1676

In [14]:
cleaned_restaurant.head()

                     city              name postalCode province
0                 Massena        McDonald's      13662       NY
1  Washington Court House           Wendy's      43160       OH
2               Maysville  Frisch's Big Boy      41056       KY
3                 Massena        McDonald's      13662       NY
4                  Athens   OMG! Rotisserie      45701       OH

In [ ]:
rds_connection_string = "<inser user name>:<insert password>@127.0.0.1/customer_db"
engine = create_engine(f'mysql://{rds_connection_string}')