In [2]:
#Loading Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from os import listdir
from os.path import isfile, join

In [3]:
#Setting the CSV variables
population_census = "Resources/population_by_zip_2010.csv"
restaurant_data = "Resources/FastFoodRestaurants.csv"

In [4]:
#Loading CSV into DataFrames
populationDF = pd.read_csv(population_census, encoding="utf-8")
restaurantDF = pd.read_csv(restaurant_data, encoding="utf-8")

In [5]:
#Cleaning DFs, taking only the columns we need
cleaned_population = populationDF[['zipcode','population']].copy()
cleaned_restaurant = restaurantDF[['city','name','postalCode','province']].copy()

#Setting zipcode as index
#NOTE, setting the index for zip code might NOT be necessary; experiementing
#NOTE, renaming the zipcode column in both DFs to a singular name may be beneficial; experimenting
cleaned_population.set_index('zipcode', inplace=True)
cleaned_restaurant.set_index('postalCode', inplace=True)

#NEXTLINE; finding a way to merge DFs using zip code as a base and inserting population into the new DF

In [6]:
cleaned_population.head()

         population
zipcode
99776           124
38305         49808
37086         31513
41667           720
67001          1676

In [7]:
cleaned_restaurant.head()

                              city              name province
postalCode
13662                      Massena        McDonald's       NY
43160       Washington Court House           Wendy's       OH
41056                    Maysville  Frisch's Big Boy       KY
13662                      Massena        McDonald's       NY
45701                       Athens   OMG! Rotisserie       OH